<%= simple_form_for([forem, :admin, @group]) do |f| %>
  <div class="control-group">
    <%= f.input :name %>
  </div>
  <%= f.submit @group.persisted? ? 'ZZZ' : 'ZZZZ', :class => 'btn btn-primary' %>
<% end %>
