<% if can?(:read, category) %>
  <div class='category' id='category_<%= category.id %>'>
    <h4><%= link_to forem_emojify(category.name), [forem, category] %></h4>
    <%= render "forem/forums/listing", :category => category %>
  </div>
<% end %>
